body {
    transition: background-color 0.5s, color 0.5s;
    color: #000000;
    background-color: #fff;
}


/*Variables - Változók - itt definiálom előre a színeket - még nincs mindenhova átvezetve ezért a dark mód pure css megoldása is folyamatban van...addig amarad js-es link váltás*/
:root {
    --white: #f9f9f9;
    --green: #257565;
    --gray: #5b5c5d;
    --black: #000000;
    --orange: #df7a00;
    --Pink: #cd5dda;
    --grayart: #7f7f7f;
    --selectedColor: rgb(142, 181, 44);
    color-scheme: dark;
    color-scheme: light;
    --lightblue: #56b3ed;
    --whitelight: #929191;
    --grassgreen: #417e3f;
    --whitelight: #c6c6c6;
    --DeepGreen: #124642;
} 

.hiddenInput {
    display: none;
}

/* default */

#resetToggle {
    display: none;
}

#greentogglelabel {
    border: 1px solid;
    position:fixed;
	width:80px;
	height:25px;
	bottom: 992px;
	right: 0px;
    background-color: var(--green);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px;
    user-select: none;
    margin: 10px;
    padding: 1px;
    text-align: center;
    background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%);
}


#greentogglelabel:active {
    color: var(--selectedColor);
}

#resetToggle:checked + #greentogglelabel {
    background-color: rgb(52, 52, 52);
}


/* Green mód definiálás*/


#darkModeToggle {
    display: none;
}

#toggleLabel {
    border: 1px solid;
    position:fixed;
	width:80px;
	height:25px;
	bottom: 1060px;
	right: 0px;
    background-color: var(--green);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px;
    user-select: none;
    margin: 10px;
    padding: 1px;
    background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%);
}


#toggleLabel::before {
    content: "☀️";
    margin-right: 8px;
}

#darkModeToggle:checked + #toggleLabel {
    background-color: #417e3f;
}

#darkModeToggle:checked + #toggleLabel::before {
    content: "🌙";
}

#darkModeToggle:checked~.contentOne {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~.contentOne button {
    background-color: var(--white);
    color: var(--black)
}


#darkModeToggle:checked~.header {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~.nav .menu  {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~#articleOne {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~#articleTwo {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~#articleThree {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~.picture {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~.formOne {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~.formOne button {
    background-color: var(--white);
    color: var(--black)
}

#darkModeToggle:checked~#footer {
    background-color: var(--black);
    color: var(--white);
}

#darkModeToggle:checked~#footer button {
    background-color: var(--white);
    color: var(--black);
}



#darkModeToggle:checked~#toggleLabel img {
    filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(-21deg) brightness(997%) contrast(73%);
}

#toggleLabel span img {
    position: relative;
    display: inline-block;
    left: 20px;
    top: 8px;
    width: 24px;
    height: 24px;
}



/* Pink mód */

#pinkModeToggle {
    display: none;
}

#pinktoggleLabel{
    border: 1px solid;
    position:fixed;
	width:80px;
	height:25px;
	bottom: 1025px;
	right: 0px;
    background-color: var(--green);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px;
    user-select: none;
    margin: 10px;
    padding: 1px;
    background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%);
}


#pinktoggleLabel::before {
    content: "☀️";
    margin-right: 8px;
}

#pinkModeToggle:checked + #pinktoggleLabel {
    background-color: var(--Pink);
}

#pinkModeToggle:checked + #pinktoggleLabel::before {
    content: "🌙";
}


#pinkModeToggle:checked~.contentOne {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~.contentOne button {
    background-color: var(--grayart);
    color: var(--black)
}


#pinkModeToggle:checked~.header {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~.nav .menu  {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~#articleOne {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~#articleTwo {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~#articleThree {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~.picture {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~.formOne {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~.formOne button {
    background-color: var(--grayart);
    color: var(--black)
}

#pinkModeToggle:checked~#footer {
    background-color: var(--Pink);
    color: var(--white);
}

#pinkModeToggle:checked~#footer button {
    background-color: var(--Pink);
    color: var(--black);
}

#pinkModeToggle:checked~#toggleLabel label {
    background-color: var(--Pink);
}



#darkModeToggle:checked~#toggleLabel img {
    filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(-21deg) brightness(997%) contrast(73%);
}

/*Header and footer styles*/
#headerOne {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 30px;
    background-color: var(--green);
    color: #fff;
    /* background-image: 
                      linear-gradient(-160deg, rgba(134, 34, 34, 0) 95%, rgb(255, 255, 255) 95%),
                      linear-gradient(160deg, rgba(134, 34, 34, 0) 95%, rgb(255, 255, 255) 95%),
                      linear-gradient(20deg, rgba(134, 34, 34, 0) 95%, rgb(255, 255, 255) 95%),
                      linear-gradient(-20deg, rgba(134, 34, 34, 0) 95%, rgb(255, 255, 255) 95%); */
}

#headerOne img {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    filter: invert(100%) sepia(10%) saturate(76%) hue-rotate(86deg) brightness(100%) contrast(119%);
}

#readingTime {
    color: #3aef40;
}


.highlighted {
    background-color: rgb(215, 215, 3);
    color: rgb(185, 37, 37);
    font-weight: 600;
}

.SearchLabel {
    padding: 0px 1px;
    margin-top: 20px;
    width: 298px;
}


#footer {
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--gray);
    color: var(--white);
    padding: 12px 16px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 10px;
}

#footer p {
    text-align: center;
}

#footer button {
    background-color: #df7a00;
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    margin-top: 10px;
    outline: 0;
    text-align: left;
}

#footer time {
    padding: 12px;
}

/* Article select */


.contentOne {
    margin-top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--DeepGreen); /*var(--gray);*/
    color: #fff;
    padding: 12px 16px;
    font-weight: 300;
    line-height: 15px;
}

.contentOne u {
    font-weight: 600;
}

.contentOne p {
    margin-top: 10px;
}


nav button {
    display: inline-block;
    background-color: var(--orange);
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;;
    cursor: pointer;
    font-size: 16px;
    height: 53px;
    outline: 0;
    text-align: left;
    
}

button {
    background-color: var(--orange);
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    margin-top: 10px;
    outline: 0;
    text-align: left;
    padding: 4px;
}


/*Article style*/

#articleOne {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--grayart);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 30px;
}

#articleTwo {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--grayart);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 30px;
}


#articleThree {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--grayart);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 30px;
}

/* Pic style*/

.picture {
    background-color: var(--grayart);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    padding: 10px 30px;
}

.picture img {
    display: inline-block;
    /*padding: 170px 70px;*/
	width: 80%;
	padding-bottom: 1%; 
	vertical-align: left; 
	overflow: hidden; 
    z-index: 0;
}

/*Form styles*/

.formOne {
    background-color: var(--DeepGreen);
    margin: 20px 20px;
}

.FormFriend {
    padding: 12px 16px;
    /*border: 1px solid rgb(124, 124, 124);*/
    /*border-radius: 0;*/
    height: 380px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

label {
    font-style: normal;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 120px;
    color: #fff;
    font-size: 16px;
    

}

form > div {
    margin-top: 6px;
    margin-bottom: 6px;
}

input {
    margin-right: 50px;
    border-radius: 1px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    height:50%;
}

.form-control {
    display: inline-block;
    width: 30%;
    min-width: 240px;
    max-width: 400px;
}

#messageInput{
    height: 100px;
}

#submitID button {
    background-color: var(--orange);
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;;
    cursor: pointer;
    height: 30px;
    margin-top: 0px;
    outline: 0; 
    font-weight: 600;
}

#headerForm {
    color: #fff;
}


textarea {
    
    margin-right: 50px;
    border-radius: 1px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    width: 300px;
    height: 10px;
    max-width: 335px;
    max-height: 70px;
}

.messageArea label {
    vertical-align:top; /* Üzenet szöveget igazítása*/
}

.stylesBtnTeam {
    margin-top: 10px  ;
    
}


/* Nav bar property etc*/

  /* törlés */
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      font-family: "Poppins", sans-serif;
  }
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }

  /* Header */
  .header{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: var(--green);
      box-shadow: 1px 1px 5px 0px var(--gray);
      position: sticky;
      top: 0;
      width: 100%;
      background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%); /* Rajzolok egy szép élet neki,  smooth*/
  }
  /* Logo */
  .logo{
      display: inline-block;
      color: var(--white);
      font-size: 60px;
      margin-left: 10px;
      
  }

  /* Nav menu */
  .nav{
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: var(--gray);
      overflow: hidden;
      z-index: 5;

  }
  .menu a{
      display: block;
      padding: 30px;
      color: var(--white);
  }
  .menu a:hover{
      background-color: var(--gray);
  }
  .nav{
      max-height: 0;
      transition: max-height .4s ease-out; /*a hambuurger menü nyitásának sebességet itt lehet meghatározni*/
  }

    /* Menu Ikon */
  .hamb{
      color: var(--white);
      cursor: pointer;
      float: right;
      padding: 35px 55px;
  }

  .hamb-line {
      background: var(--white);
      display: block;
      height: 2px;
      position: relative;
      width: 24px;

  } 

  .hamb-line::before,
  .hamb-line::after{
      background: var(--white);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  .hamb-line::before{
      top: 5px;
  }
  .hamb-line::after{
      top: -5px;
  }

  .side-menu {
      display: none;
  } 

  .side-menu:checked ~ nav{
      max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line {
      background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
      transform: rotate(-45deg);
      top:0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
      transform: rotate(45deg);
      top:0;
  }

  /* Media screen - nav menu, pic, form responsive */
  @media (min-width: 792px) {
      .nav{
          max-height: none;
          top: 0;
          position: relative;
          float: right;
          width: fit-content;
          background-color: transparent;

      }
      .menu li{
          float: left;
      }
      .menu a:hover{
          background-color: transparent;
          color: aqua;

      }

      .hamb{
          display: none;
      }

      
  }

  /*Gomb animáció*/
  /* .box {
    margin: 10px;
    position: relative;
    width: 115px;
    align-items: center;
    min-height: 50px;
    background: repeating-conic-gradient(from var(--a) , var(--white) 0%, var(--white) 5%,
    transparent 5%, transparent 40%, var(--white) 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
    z-index: 1;
    left: -20px;
  }

  .box span a {
    color: var(--white);
    margin: 100px;
    font-size: 20px;
    font-weight: 600;
    z-index: 5;
    position: relative;
    left: -69px;
    top: 16px;
  }

  @property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes animate {
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a:360deg;
    }
  } */

  .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: repeating-conic-gradient(from var(--a) ,#45f3ff 0%, #45f3ff  5%,
    transparent 5%, transparent 40%, #45f3ff 50%);
    animation: animate 4s linear infinite; */
    animation-delay: -1s;
    border-radius: 20px;
  }
  
  .box::after {
    content: '';
    position: absolute;
    inset: 4px; /* ha vékonyabb szélet akarok neki, itt be tudom állítani*/
    background: #2d2d39;
    border-radius: 20px;
    border: 8px solid #25252b;

  }

  @media (max-width: 792px) {
    .menu a{
        display: block;
        padding: 30px;
        color: var(--white);
        background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%); /* Rajzolok egy szép élet neki,  smooth*/
        }


  @media screen and (max-width: 494px) {
    .FormFriend {
            padding: 12px 16px;
            border: 1px solid rgb(124, 124, 124);
            border-radius: 0px;
            height: 535px;
            padding: 20px;
        }
    }

    #greentogglelabel {
        border: 1px solid;
        position:fixed;
        width:80px;
        height:25px;
        bottom: 460px;
        right: 0px;
        background-color: var(--green);
        color: var(--white);
        font-size: 15px;
        cursor: pointer;
        border-radius: 0px;
        user-select: none;
        margin: 10px;
        padding: 1px;
        text-align: center;
        background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%);
    }

    #toggleLabel {
        border: 1px solid;
        position:fixed;
        width:80px;
        height:25px;
        bottom: 540px;
        right: 0px;
        background-color: var(--green);
        color: var(--white);
        font-size: 15px;
        cursor: pointer;
        border-radius: 0px;
        user-select: none;
        margin: 10px;
        padding: 1px;
        background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%);
    }

    #pinktoggleLabel{
        border: 1px solid;
        position:fixed;
        width:80px;
        height:25px;
        bottom: 500px;
        right: 0px;
        background-color: var(--green);
        color: var(--white);
        font-size: 15px;
        cursor: pointer;
        border-radius: 0px;
        user-select: none;
        margin: 10px;
        padding: 1px;
        background-image: linear-gradient(-180deg, rgba(134, 34, 34, 0) 94%, rgb(255, 255, 255) 110%);
    }

  }

  /* Color sémák*/
  
  /* A dark és a Pink mód lebegő gombokkal állítható az oldalon. A default gomb, pedig törli az értékeket. Itt viszont a light mód már sémával is működik - devtools - rendering - emulate css media features prefers-color-scheme*/
  @media (prefers-color-scheme: light) {
    :root {
        --lightblue: #56b3ed;
        --whitelight: #929191;
        --grassgreen: #417e3f;
        --whiteelight: #c6c6c6;
   }
 }

 @media (prefers-color-scheme: dark) {
    :root {
        --green: #000000;
        --gray: #000000;
        --black: #080808;
        --orange: #9b9b9b;
        --grayart: var(--black);
        --DeepGreen: #080808;
   }

   body {
    color:#ffffff;
   }
   
 }
